<h1>Create a post!</h1>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :poster_name %><br>
    <%= form.text_field :poster_name %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
    <th>Time created</th>
  </tr>
 
  <% @article.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.poster_name %></td>
      <td><%= distance_of_time_in_words(article.created_at, Time.now)%> ago</td>
      <td><%= link_to 'Delete', article_path(article),
			  method: :delete,
			  data: {confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>